
@media screen and (max-width: 600px) {
  background {
      color: red;
  }
}


html{
  font-family: 'Audiowide', cursive;
 }

body {
  text-align: center;
  background-color: rgba(255, 255, 255, 1)
}

input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin:5px;
}

img {
  display: inline-flex;
  height: 200px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.75);
  
}
button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #92A63E;
  padding: 8px;
  border-radius: 14%;
}

.search-section {
  display: inline-flexbox;
  flex-wrap:inline-flexbox;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
footer {
  display: block;
 position: static;
 bottom: 0;
 width: 100%;
 font-size: .75em;
 align-self: baseline;
 padding: 8px;
  border-radius: 14%;
  margin:5px;
}

