
 html,
 body {
  height: 100%;
  position: relative;
  background-size: cover;
 }

 div, h1,
 .search-section {
  display: flex;
  flex-flow: row wrap ; 
  /* align-content: center; */
  justify-content: center; 
  align-content: center;
  /* padding: 10px; */
  margin: 10px;
}
 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: flex;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

 footer {
   display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .75em;
 }
@media only screen and (max-width: 600px) {
  body {
  display: flex ;
}

}