
 html,
 body {
  height: 100%;
  position: relative;
  background-size: cover; 
 }
.team-select-section, .render-team-data{
  /* vertical-align: center; */
  display: flex;
  flex-direction: column ;  
  justify-content: center; 
  padding: 10px;
  margin: 10px; 
}


 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: flex;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

 footer {
   display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .75em;
  align-self: aubaseline;
 }
@media only screen and (max-width: 600px) {
  body {
  display: flex ;
}

}